################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/AsrAccounting/bin/Debug
/.vs/AsrAccounting/v14
/AsrAccounting/obj/Debug
/TestAsrAccounting
